body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.prod-search {
	width: 100%;
}

.prod-search-result {	
	float:left; 
	width: 80%;
}

.prod-search-filter {
	float:right;
}

.prod-search-bottom {
	clear:both;
}

.prod-search-price {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 10px;
}

.prod-search-name {
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: 10px;
}

.prod-search-cat {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 10px;
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
.searchInputs {
  margin-top: 105px;
  display: flex;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}

.send {
  background-color : #14AAF5;
  color: white;
}

.receive {
  background-color : #555555;
  color: white;
}
